@using Azure.Core
@using SMS.core
@using SMS.web.ViewModels
@model TeacherView;

<div class="container">
    <h2 class="my-4">Employee List</h2>

    <!-- Search Bar Row -->
    <form method="get" action="@Url.Action("Index", "Employee")" class="mb-4">
        <div class="row">
            <div class="col-md-3">
                <input type="text"  class="form-control" placeholder="Search by Name" />
            </div>
            <div class="col-md-3">
                <input type="text"  class="form-control" placeholder="Search by Department" />
            </div>
            <div class="col-md-3">
                <input type="datetime"  class="form-control" placeholder="Search by Designation" />
            </div>          
        </div>
        <div class="row mt-2">
            <div class="col-md-12 text-right">
                <button type="submit" class="btn btn-primary">Search</button>
                <a href="@Url.Action("Index", "Employee")" class="btn btn-secondary">Clear</a>
            </div>
        </div>
    </form>

    <!-- Employee Table -->
    <table id="teacherTable" class="table table-bordered table-secondary">
        <thead class="thead-dark">
            <tr>
                <th>Photo</th>
                <th>Full Name</th>
                <th>Email</th>
                <th>Date of Birth</th>
                <th>Mobile</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model.Teachers)
            {
                <tr>
                    <td>
                        <img src="" alt="Employee Photo" style="width:50px; height:50px;" />
                    </td>
                    <td>@employee.FullName</td>
                    <td>@employee.Email</td>
                    <td>@employee.DOB.ToString("dd/MM/yyyy")</td>
                    <td>@employee.Mobile</td>
                    <td>
                        <a href="@Url.Action("Update", "Employee", new { id = employee.Id })" class="btn btn-sm btn-primary">
                            <i class="fa fa-pencil"></i>
                        </a>
                        <a onclick="confirmDelete('@employee.Id')" class="btn btn-sm btn-danger">
                            <i class="fa fa-trash"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>