@using SMS.web.ViewModels
@model IEnumerable<Teacher>

<div class="container">
    <h2 class="my-4">Teacher's List</h2>

    <div class="d-flex justify-content-between align-items-center mb-4">
        <!-- Search Form -->
        <form method="get" asp-action="Index" class="me-3">
            <div class="input-group">
                <input type="text" name="searchString" value="@ViewData["CurrentFilter"]" class="form-control" placeholder="Search teachers by name..." />
                <button class="btn btn-info" type="submit">Search</button>
            </div>
        </form>

        <!-- Add Teacher Button -->
        <a asp-action="Add" class="btn btn-info">Add Teacher</a>
    </div>

    <hr />


    <!-- Employee Table -->
    <table id="teacherTable" class="table table-bordered table-Active">
        <thead class="thead-dark">
            <tr>          
                <th>Full Name</th>
                <th>Email</th>              
                <th>Phone Number</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model)
            {
                <tr>                   
                    <td>@i.FullName</td>
                    <td>@i.Email</td>                   
                    <td>@i.PhoneNumber</td>
                    <td>
                        <a href="@Url.Action("Edit", "Teacher", new { id = @i.ID })" class="btn btn-sm btn-primary">
                            <i class="bi bi-pencil"></i>
                        </a>
                        <a onclick="confirmDelete('@i.ID')" class="btn btn-sm btn-danger">
                            <i class="bi bi-trash"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>